@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-neutral-800 font-lexend;
}

a {
    @apply cursor-pointer hover:text-stone-400 transition duration-300 ease-in-out;
}

.react-photo-album--image {
    transition: opacity 124ms linear, transform 124ms linear;
    cursor: pointer;
    border-radius: 0.25rem;
}

.react-photo-album--image:hover {
    opacity: 50%;
}